docs/build/c.txt
docs/build/python.txt
docs/build/undoc.pickle
docs/source/*
*.pyc
__pycache__

.env/
venv/
env/

fenix.log

artifacts/*
!artifacts/.gitkeep

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

mlruns/

.fenix_cache/

.ipynb_checkpoints
notebooks/artifacts/
notpytest_test_time.py

*.csv